page-game-instance {.background-image{
    background-color: rgb(228, 211, 154);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;  
    
}

.invisibleButton {
    height:10px;
    width:40px;
}
.ion-item-navbar-button{
    clear:true;
    color:white;
    text-transform: none;  
}

.ion-item-border {    
    border-radius: 30px !important;  
    border: 5mm;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px grey;
    border: 2px solid #ac9200;
    opacity: 0.5;
}

.nogem{
    background-image: url('../assets/imgs/nogem.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.gem1
{
    background-image: url('../assets/imgs/gem1.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem2
{
    background-image: url('../assets/imgs/gem2.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem3
{
    background-image: url('../assets/imgs/gem3.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem4
{
    background-image: url('../assets/imgs/gem4.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem5
{
    background-image: url('../assets/imgs/gem5.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem6
{
    background-image: url('../assets/imgs/gem6.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem7
{
    background-image: url('../assets/imgs/gem7.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem8
{
    background-image: url('../assets/imgs/gem8.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem9
{
    background-image: url('../assets/imgs/gem9.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem10
{
    background-image: url('../assets/imgs/gem10.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem11
{
    background-image: url('../assets/imgs/gem11.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem12
{
    background-image: url('../assets/imgs/gem12.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem13
{
    background-image: url('../assets/imgs/gem13.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem14
{
    background-image: url('../assets/imgs/gem14.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem15
{
    background-image: url('../assets/imgs/gem15.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem16
{
    background-image: url('../assets/imgs/gem16.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem17
{
    background-image: url('../assets/imgs/gem17.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem18
{
    background-image: url('../assets/imgs/gem18.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem19
{
    background-image: url('../assets/imgs/gem19.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.gem20
{
    background-image: url('../assets/imgs/gem20.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.lost_nogem
    {
        background-image: url('../assets/imgs/gem_lost1.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .lost_gem1
    {
        background-image: url('../assets/imgs/gem_lost2.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .lost_gem2
    {
        background-image: url('../assets/imgs/gem_lost3.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .lost_gem3
    {
        background-image: url('../assets/imgs/gem_lost4.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .lost_gem4
    {
        background-image: url('../assets/imgs/gem_lost5.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .lost_gem5
    {
        background-image: url('../assets/imgs/gem_lost6.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .lost_gem6
    {
        background-image: url('../assets/imgs/gem_lost7.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .lost_gem7
    {
        background-image: url('../assets/imgs/gem_lost8.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .lost_gem8
    {
        background-image: url('../assets/imgs/gem_lost9.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }


    .lost_gem9
    {
        background-image: url('../assets/imgs/gem_lost10.png');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .card-background-page {

     
        position: relative;
        text-align: bottom;
      
    
      
      
  }
  .card-title {
      position: absolute;
      text-align:top;
      top: 10%;
      left: 10%;
      font-size: 1.0em;
      width: 100%;
      font-weight: bold;
      color: #ddc83e;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 18%;
      left: 10%;
      width: 100%;
      color: #ddc83e;
    }
  
  .image-container{
      background-size: cover;
      min-height: 250px;
      min-width:135px
  }

  .half-button-width{
      width:160px;
  }
  .third-button-width{
      width:100px;
  }

}
