page-display-data {
    .bg-image{
        background-color:  rgb(228, 211, 154);;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        
    }
    
    .invisibleButton {
        height:10px;
        width:40px;
    }
    .ion-item-navbar-button{
        clear:true;
        color:peru;
        text-transform: none;
        
    }

    .ion-item-border {    
        border-radius: 30px !important;  
        border: 5mm;
        margin-bottom: 10px;
        
        box-shadow: 5px 5px 2px grey;
        
        border: 2px solid #ac9200;
        opacity: 0.5;
        
    
    }

    .no-padding {
        padding: 0px !important;
    }

}
